@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */
.color-white {
  color: #fff;
}

.color-dark {
  color: #333;
}

.container {
  max-width: 1500px;
  margin: auto;
}

.l-heading {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 1;
}

.card {
  width: 100%;
  border: 1px #ccc solid;
  border-radius: 5px;
}

.card-header {
  padding: 1rem;
  background: #eee;
}

.card-content {
  padding: 1rem;
  width: 100%;
}

.btn {
  background-color: #0572ce;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 0.85rem;
}

a.btn {
  text-decoration: none;
}

.btn:hover {
  background-color: #1e3649;
}

.form-group label {
  display: block;
  margin-bottom: 0.4rem;
  color: #333;
}

.form-control {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px #ccc solid;
  padding: 0.4rem;
}

.heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

select.form-control {
  padding: 0.5rem;
  font-size: 1rem;
  background: transparent;
  border-radius: 4px;
  border: 1px #ccc solid;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #0572ce;
  color: #fff;
}

td,
th {
  padding: 0.8rem;
  text-align: left;
}

tbody tr:nth-child(2n-1) {
  background-color: #f5f5f5;
  transition: all 0.125s ease-in-out;
}

tbody tr:hover {
  background-color: rgba(13, 96, 165, 0.6);
}

/* Navbar */
#nav {
  position: sticky;
  top: 0;
  background-color: #0572ce;
}

#nav #nav-content {
  display: flex;
  height: 3rem;
  width: 100%;
  align-items: center;
  color: white;
}

#nav #nav-content a {
  text-decoration: none;
  color: white;
}

#nav #nav-content #toggler {
  margin: 0 0.6rem;
  padding: 0.5rem;
  padding-bottom: 0.2rem;
  padding-left: 0.52rem;
  cursor: pointer;
}

#nav #nav-content #toggler:hover {
  background-color: #0d60a5;
  border-radius: 2px;
}

#nav #nav-content #toggler.active {
  border-radius: 2px;
  background-color: #04569b;
}

main#content {
  display: grid;
  grid-template-areas: "side-nav dashboard";
  grid-template-columns: 50px 1fr;
}

main#content #side-nav {
  grid-area: side-nav;
  width: 50px;
  background-color: #31373c;
  position: fixed;
  height: 100%;
  transition: width 200ms ease;
}

main#content #side-nav.active {
  width: 130px;
}

main#content #side-nav #menu .menu-item-text.hidden {
  display: none;
}

main#content #side-nav #menu {
  list-style: none;
}

main#content #side-nav #menu .menu-item {
  font-size: 0.9rem;
  width: 100%;
  height: 2.8rem;
  display: block;
  margin: auto;
}

main#content #side-nav #menu .menu-item.active {
  background-color: #22262a;
}

main#content #side-nav #menu .menu-item:hover {
  background-color: #282d31;
}

main#content #side-nav #menu .menu-item a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

main#content #side-nav #menu .menu-item a i {
  margin-right: 0.5rem;
}

/* Main */
main#content section#dashboard {
  grid-area: dashboard;
  padding: 1.2rem;
}

section#dashboard #title i {
  background: #0572ce;
  padding: 0.8rem;
  border-radius: 5px;
  color: #fff;
}

section#dashboard #main-content {
  display: grid;
  grid-template-areas:
    "game-select game-select"
    "ranking chart";
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

section#dashboard #main-content #game-select {
  grid-area: game-select;
}

section#dashboard #main-content #ranking {
  grid-area: ranking;
}

section#dashboard #main-content #chart {
  grid-area: chart;
}

section#dashboard #main-content #chart #myChart {
  width: 100%;
}

section#dashboard #game-content {
  display: grid;
  grid-template-areas:
    "gameform"
    "gametable";
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

section#dashboard #game-content #games {
  grid-area: gametable;
}

section#dashboard #game-content #createGame-form {
  grid-area: gameform;
  display: none;
}

section#dashboard #game-content #createGame-form.active {
  grid-area: gameform;
  display: block;
}

section#dashboard #desafio-content {
  display: grid;
  grid-template-areas:
    "desafioform"
    "desafiogameselect"
    "desafiostable";
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

section#dashboard #desafio-content #desafio-game-select {
  grid-area: desafiogameselect;
}

section#dashboard #desafio-content #desafios {
  grid-area: desafiostable;
}

section#dashboard #desafio-content #desafio-form {
  grid-area: desafioform;
  display: none;
}

section#dashboard #desafio-content #desafio-form.active {
  grid-area: desafioform;
  display: block;
}

section#dashboard #tarefa-content {
  display: grid;
  grid-template-areas:
    "tarefaform"
    "tarefastable";
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

section#dashboard #tarefa-content #tarefas {
  grid-area: tarefastable;
}

section#dashboard #tarefa-content #tarefa-form {
  grid-area: tarefaform;
  display: none;
}

section#dashboard #tarefa-content #tarefa-form.active {
  grid-area: tarefaform;
  display: block;
}

@media (max-width: 768px) {
  .l-heading {
    font-size: 2rem;
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  section#dashboard #main-content #chart #myChart {
    width: 100%;
    height: 275px !important;
  }

  section#dashboard #main-content {
    grid-template-areas:
      "game-select"
      "ranking"
      "chart";
    grid-template-columns: 1fr;
  }
}
