* {
  font-family: sans-serif;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */
.color-white {
  color: #fff;
}

.color-dark {
  color: #333;
}

.container {
  max-width: 1500px;
  margin: auto;
  padding: 2rem;
}

.l-heading {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.card {
  width: 100%;
  border: 1px #ccc solid;
  border-radius: 5px;
}

.card-header {
  padding: 1rem;
  background: #eee;
}

.card-content {
  padding: 1rem;
  width: 100%;
}

.btn {
  background: #0572ce;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 0.85rem;
}

.btn:hover {
  background: #0d60a5;
}

.form-control {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

select.form-control {
  padding: 0.5rem;
  font-size: 1rem;
  background: transparent;
  border-radius: 4px;
  border: 1px #ccc solid;
}

/* Navbar */
#nav #top-nav {
  display: block;
  width: 100%;
  background: #0572ce;
  height: 3rem;
  display: flex;
  align-items: center;
  color: white;
}

#nav #top-nav a {
  text-decoration: none;
  color: white;
}

#nav #top-nav #toggler {
  margin: 0 0.6rem;
  padding: 0.5rem;
  padding-bottom: 0.2rem;
  padding-left: 0.52rem;
  cursor: pointer;
}

#nav #top-nav #toggler:hover {
  background: #0d60a5;
  border-radius: 2px;
}

#nav #top-nav #toggler.active {
  border-radius: 2px;
  background: #04569b;
}

#nav #side-nav {
  width: 50px;
  background: #31373c;
  position: fixed;
  top: 3rem;
  bottom: 0;
  overflow: hidden;
  transition: width 200ms ease;
}

#nav #side-nav.active {
  width: 200px;
}

#nav #side-nav #menu .menu-item-text.hidden {
  display: none;
}

#nav #side-nav #menu {
  list-style: none;
}

#nav #side-nav #menu .menu-item {
  font-size: 0.9rem;
  width: 100%;
  height: 2.8rem;
  display: block;
  margin: auto;
}

#nav #side-nav #menu .menu-item.active {
  background: #22262a;
}

#nav #side-nav #menu .menu-item:hover {
  background: #282d31;
}

#nav #side-nav #menu .menu-item a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

#nav #side-nav #menu .menu-item a i {
  margin-right: 0.5rem;
}

/* Main */
main#dashboard {
  display: grid;
  grid-template-areas:
    "title title"
    "game-select game-select"
    "ranking chart";
  grid-gap: 1.5rem;
}

main#dashboard > #title {
  grid-area: title;
}

main#dashboard > #game-select {
  grid-area: game-select;
}

main#dashboard > #ranking {
  grid-area: ranking;
}

main#dashboard > #chart {
  grid-area: chart;
}
