* {
  font-family: sans-serif;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-top: 34px;
  margin-left: 10%;
}

.color-white {
  color: #fff;
}

.color-dark {
  color: #333;
}

#nav #top-nav {
  display: block;
  width: 100%;
  background: #0572ce;
  height: 3rem;
  display: flex;
  align-items: center;
  color: white;
}

#nav #top-nav a {
  text-decoration: none;
  color: white;
}

#nav #top-nav #toggler {
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

#nav #top-nav #toggler:hover {
  background: #0d60a5;
  border: 1px solid #044d88;
  border-radius: 2px;
}

#nav #top-nav #toggler.active {
  border: 1px solid #044d88;
  border-radius: 2px;
  background: #04569b;
}

#nav #side-nav {
  width: 50px;
  background: #31373c;
  position: fixed;
  top: 3rem;
  bottom: 0;
  overflow: hidden;
  transition: width 200ms ease;
}

#nav #side-nav.active {
  width: 200px;
}

#nav #side-nav #menu .menu-item-text.hidden {
  display: none;
}

#nav #side-nav #menu {
  list-style: none;
}

#nav #side-nav #menu .menu-item {
  font-size: 0.9rem;
  width: 100%;
  height: 2.8rem;
  display: block;
  margin: auto;
}

#nav #side-nav #menu .menu-item.active {
  background: #22262a;
}

#nav #side-nav #menu .menu-item:hover {
  background: #282d31;
}

#nav #side-nav #menu .menu-item a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

#nav #side-nav #menu .menu-item a i {
  margin-right: 0.5rem;
}

main {
  margin-left: 200px;
}
